{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Project Information{% endblock %}</h1>
    <label for="goals">Project Goals:</label>
    <ul name="goals">
        <li>Explore Passion For Financial Technology</li>
        <li>Learn About SQL Database Operations</li>
        <li>Build Basic Knowledge Of Flask And Web Development</li>
    </ul>

    <label for="simplifications">Project Simplifications:</label>
    <ul class="simplifications">
        <li>Ability To Delete And Create Bank Accounts Simplified To Be Easily Done Online</li>
        <li>Money Is Completely Fake, Allowed To Start With Any Balance And Deposit Any Amount</li>
    </ul>
{% endblock %}